# TagUI temporales y perfiles
tagui.log
*.raw
*.js
chrome_profile/
__pycache__/
*.pyc
bot.log
# Ignorar archivos de log
*.log
logs/
# Ignorar archivos de entrada/salida de mensajes
out.txt
in.txt


# Marcador de ruta usado por el .tag para invocar Python
tagui_base.txt
